body {
    background-color: green;
}

.figura {
    font-size: 80px;
    height: 15%;
    margin-top: 0px;
    border: none;
    padding-left: 15px;
    border-radius: 30px;
}

.card_center {
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-family: Roboto;
    ;
}

.bottom {
    font-size: 80px;
    height: 15%;
    border: none;
    border-radius: 30px;
    transform: rotate(180deg);
    margin-right: 15px;
}


